/* Vos customisations des classes de Bootstrap */
body {
	box-sizing: border-box;
	font-family: 'glyphicons-halflings-regular.woff', 'glyphicons-halflings-regular.woff2';
	max-width: 80%;
	margin: auto;
	
}

.flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}
.card{
	margin: 10px;
}
.card:nth-child(1){
	display: none;
}

